<h1><%= @user.name %>'s Profile</h1>

<ul>
  <% @user.mixtapes.each do |mixtape| %>
    <li><%=  mixtape.title %> |  <%= link_to 'Edit', edit_user_mixtape_path(@user, mixtape) %> | <%= link_to "Delete", user_mixtape_path(@user, mixtape),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %> </li>
  <% end %>
</ul>

<p><%= link_to "Add Mixtape", new_user_mixtape_path(@user) %> </p>
<p><%= link_to "Edit User", edit_user_path(@user) %></p>
<p><%= link_to "Delete User", user_path(@user),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
